.catagories {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 47px;
}

.catagories-btn {
  padding: 7px 30px;
  margin-right: 8px;
  font-size: 18px;
  font-weight: 500;
  border: 2px solid rgb(226, 226, 228);
  border-radius: 25px;
  transition: all 0.2s ease;
}

.catagories-btn.active,
.catagories-btn:hover {
  background-color: #2d2147;
  color: #fff;
}

@media (min-width: 321px) and (max-width: 768px) {
  .catagories {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .catagories-btn {
    margin-left: 47px;
    margin-bottom: 20px;
  }
}
