.catagories {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 47px;
}

.catagories-btn {
  padding: 7px 30px;
  font-size: 18px;
  font-weight: 500;
  border: 2px solid rgb(226, 226, 228);
  border-radius: 25px;
}
.catagories-btn:hover {
  background-color: #2d2147;
  color: #fff;
  font-weight: 400;
}
#catagories-btn {
  padding: 6px 13px;
  font-size: 18px;
  font-weight: 400;
  border: 2px solid rgb(226, 226, 229);
  border-radius: 75px;
  background-color: #2d2147;
  color: #fff;
}
#catagories-btn:hover {
  background-color: #fff;
  color: #2d2147;
  font-weight: 500;
}
@media (min-width: 321px) and (max-width: 768px) {
  .catagories {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .catagories-btn {
    margin-left: 47px;
    margin-bottom: 20px;
  }
}
