.mobile-device {
  display: none;
}

.other-device {
  display: flex;
}

.item-image {
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.product-name {
  letter-spacing: 0;
  font-weight: 700;
}

.hoddies {
  font-weight: 400;
}

.orginal-price {
  font-size: 30px;
  font-weight: 400;
  text-decoration: line-through;
  margin-bottom: 0px;
}

.current-price {
  margin-top: 0px;
  font-size: 35px;
  font-weight: 700;
}

.save {
  font-size: 30px;
  color: green;
  font-weight: 400;
}

.btn-size {
  padding: 25px 30px 25px 30px;
  margin-left: 10px;
  border: 2px solid rgb(214, 213, 213);
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-size: 20px;
  font-weight: 600;
  transition: all 0.2s ease;
}

.btn-size.active,
.btn-size:hover {
  color: #fff;
  background-color: #2d2147;
}

.addtoBag {
  border: 0;
  outline: 0;
  color: #fff;
  background-color: #2d2147;
  padding-left: 130px;
  padding-right: 130px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 23px;
  text-align: center;
  border-radius: 40px;
  font-weight: 600;
}

.favourite {
  border: 2px solid gray;

  color: #2d2147;
  background-color: #fff;
  padding-left: 138px;
  padding-right: 138px;
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 23px;
  text-align: center;
  border-radius: 40px;
  font-weight: 700;
}

.description {
  font-size: 19px;

  font-weight: 500;
  color: rgb(77, 74, 74);
}

@media (max-width: 1160px) {
  .other-device {
    display: none;
  }

  .mobile-device {
    display: block;
  }
}
