.YOUR-BAG {
  font-weight: 700;
  letter-spacing: 0px;
}

.TOTAL-items {
  font-weight: 400;
}

.Box {
  padding: 30px 100px;
}

.item-box {
  border: 2px solid black;
}

#item-box {
  border: 2px solid gainsboro;
  padding: 100px 0px 100px 0px;
}

.Bag-box {
  margin: 50px 0px 0px 85px;
}

.order-box {
  padding: 250px 150px;
}

.Checkout {
  width: 400px;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  border: 0;
  outline: 0;
  color: #fff;
  background-color: #2d2147;
  padding-left: 0px;
  padding-right: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 23px;
  text-align: start;
  border-radius: 10px;
  font-weight: 600;
}

.Checkout-box {
  margin-right: 250px;
  padding-left: 15px;
}

.size-input {
  width: 50px;
  font-size: 22px;
  padding: 0;
}

.size-input:hover {
  background-color: transparent !important;
  color: #2d2147;
}
